# Condition & Branching

In [1]:
a = 5
a == 6

False

In [2]:
i = 6
i > 5

True

In [3]:
i = 2
i > 5

False

In [4]:
i = 2
i != 6

True

In [5]:
"ACDC" == "Michael Jackson"

False

In [6]:
"ACDC" != "Michael Jackson"

True

In [7]:
'B' > 'A'

True

In [8]:
'BA' > 'AB'

True

In [9]:
age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [10]:
age=18
if age > 18:
    print("You can Enter")
else:
    print("go see Meat Loaf" )
    
print("Move on")

go see Meat Loaf
Move on

In [11]:
age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [12]:
album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

In [13]:
album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [14]:
album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [15]:
album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [16]:
album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

In [17]:
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

In [18]:
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

this album is amazing

In [19]:
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1979

# Loops

In [20]:
for x in range(0,3):
     print(x)

0
1
2

In [21]:
for i,x in enumerate(['A','B','C']):
    print(i,x)

0 A
1 B
2 C

In [22]:
range(3)

range(0, 3)

In [23]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [24]:
for i in dates:
    print (i)

1982
1980
1973

In [25]:
for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [26]:
for year in dates:  
    print(year)

1982
1980
1973

In [27]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [28]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [29]:
for i in enumerate(dates):
    print(i)

(0, 1982)
(1, 1980)
(2, 1973)

In [30]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [31]:
dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

In [32]:
for i in range(-5,6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [33]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for i in Genres:
    print(i)

rock
R&B
Soundtrack
R&B
soul
pop

In [34]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for i in squares:
    print(i)

red
yellow
green
purple
blue

In [35]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i=0
rating = PlayListRatings[0]
while(i < len(PlayListRatings) and rating >= 6):
    print(rating)
    i = i + 1 
    rating = PlayListRatings[i]

10
9.5
10
8
7.5

In [36]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

i=0

while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

In [37]:
print("Multiplication table of 6:")
for i in range (1,11):
    print("6*",i,"=",6*i)
print("Multiplication table of 7:")
for i in range (1,11):
    print("7*",i,"=",7*i)

Multiplication table of 6:
6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
6* 10 = 60
Multiplication table of 7:
7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63
7* 10 = 70

In [38]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
New = []
i=0
while i<len(Animals):
    j=Animals[i]
    if(len(j)==7):
        New.append(j)
    i=i+1
print(New)

['giraffe', 'gorilla', 'parrots']

# Functions

In [39]:
def Print(A):
    for a in A:
        print(a+'1')
        
Print(['a','b','c'])

a1
b1
c1

In [40]:
def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [41]:
help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [42]:
add(2)

2 if you add one 3

3

In [43]:
def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [44]:
Mult(58,11)

638

In [45]:
Mult(10.0, 3.14)

31.400000000000002

In [46]:
Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [47]:
def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1 :", c) 
    return(c)

In [48]:
x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 : 10

10

In [49]:
square(2)

2 if you square + 1 : 5

5

In [50]:
def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [51]:
MJ1()

Michael Jackson

In [52]:
print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

In [53]:
def con(a, b):
    return(a + b)

In [54]:

con("This ", "is")

'This is'

In [55]:
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [56]:
sum(album_ratings)

70.0

In [57]:
len(album_ratings)

8

In [58]:
def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [59]:
def PrintList(the_list):
    for element in the_list:
        print(element)

In [60]:
PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

In [61]:
def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [62]:
isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

In [63]:
artist = "Michael Jackson"
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")
    
printer1(artist)

Michael Jackson is an artist

In [64]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [65]:
myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [66]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone
No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

In [67]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])

printDictionary(Country='Canada',Province='Ontario',City='Toronto')

Country : Canada
Province : Ontario
City : Toronto

In [68]:
def addItems(list):
    list.append("Three")
    list.append("Four")

myList = ["One","Two"]

addItems(myList)

myList

['One', 'Two', 'Three', 'Four']

In [69]:
def div(a,b):
    return a/b
    
div(10,2)

5.0

In [70]:
def con(a, b):
    return(a + b)

con(2, 2)

4

In [71]:
con(['a', 1], ['b', 1])

['a', 1, 'b', 1]

In [72]:
L=[1,3,2]
sorted(L)
L

[1, 3, 2]